#game{
	min-width: 800px;
	width: 50%;
	padding: 20px;
	
}



#joined_assos{
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	
}

.is_asso{
	width:100%;
	margin: 2px;
	-webkit-transition: 0.3s;
}

#stats{
	width: 100%;
	margin-bottom: 20px;
}

.is_baka{
	opacity: 0.4;
}

.is_diese{
	opacity: 0.4;
}

.is_bar{
	opacity: 0.4;
}
.progress_bar{
	display: flex;
	margin: 10px;
	height: 20px;
	width: 90%;
	background-color: #eeeeee;
	margin: auto;
	margin-bottom: 10px;
	
}

.progress_bar_content{
	height: 100%;
	background-color: #f5cf47;
}

#diese{
	width: 0%;
}

#side_info{
	width: 12%;
	min-width: 200px;
	margin-right: 20px;
	text-align: center;
}

#side_info img{
	width: 100%;
	margin-left: 5px;
	
}

#placeholder_protag{
	background-color: #f5cf47;
	font-family: 'Just Another Hand';
	color: white;
	text-align: center;
	font-size: 2em;
	margin: 10px;
	margin-top: 20px;
	height: 60%;
}

#side_info .logout_button{
	margin-top: 10px;
	
}

#game_profile{
	display: block;
	width: 20%;
	text-align: center;
	
	margin: auto;
	margin-bottom: 20px;
	margin-top: 0px;
}

#game_profile .orange{
	font-size: 2.5em;
	}


#game_profile .grey{
	font-size: 1em;
	line-height: 0.3;
}

#game_profile img{
	width: 100%;
}


#visuel{
	position: relative;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	z-index: 0;
	opacity: 1;
	transition: opacity 0.6s;
}

#step_text{
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding:2px;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	border-top: 4px solid #ed9a00;
	font-size: 1.2em;
}

#end_button{
	height: 20%;
	margin: auto;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
}


#visuel img{
	width: 100%;
}

#fg{
	position: absolute;
	bottom: -15%;
	right: 5%;
	z-index: 1;
	width: 40%;
	height: 100%;
}

#fg img{
	width: 100%;
}

#end_stats{
	opacity: 0;
	position: absolute;
	z-index: 3;
	min-width: 600px;
	max-height: 400px;
	width: 40%;
	
	left: 50%;
	top: 30%;
    transform: translate(-50%, -30%);
	
	padding-right: 3%;
	padding-left: 3%;
	
}

#end_stats .grey{
	text-align: center;
	vertical-align:center;
}


#end_title{
	opacity: 0;
}

.brown{
	font-size: 2.6em;
	line-height: 1.2;
	color: #4b3c30;
	font-family: 'Just Another Hand', sans-serif;	
	
	text-align: center;
}

#end_stats .orange{
	vertical-align: center;
}

#end_stats button{
	width: 100%;
	margin-bottom: 3%;
}

.end_stat{
	display: flex;
	flex-direction: row;
	font-size: 2em;
}

.end_stat p{
	margin-left: 20%;
	line-height: 0.3;
}

#stat_al{
	opacity: 0;
}

#stat_at{
	opacity: 0;
}

#stat_go{
	opacity: 0;
}

#choices{
	margin-top: 15px;
}

#choices .choice{
	border: none;
	shadow-box: none;
	text-align: left;
	width: 100%;
	background-color: #f5cf47;
	color: white;
	font-size: 1.5em;
	font-family: 'bahn';
	padding: 5px;
	margin-top: 5px;
}

#choices .choice:hover{
	background-color: #ed9a00;
}

#choices .choice:focus{
	outline: none;
}

#new_stories{
	margin: auto;
	display: flex;
	height: 340px;
	justify-content: center;
}

.story{
	max-width: 350px;
	min-width: 200px;
	width: 90%;
	display: flex;
	flex-direction: column;
	height: 90%;
	margin: 3%;
	
}

.content{
	position: relative;
	height: 70px;
	width: 100%;
	background-color: grey;
	overflow: hidden;
	background-image: url(Visuels/bg_story.png);
	transition: 0.5s;
	box-shadow: 2px 2px 8px #999999;
}
.content h1{
	font-size: 2em;
}
.content img{
	width: 100%;
}

.content:hover{
	height: 100%;
}


.desc{
	border-radius: 18px;
	padding: 5px;
	margin: 5px;
	width: 90%;
	height:0;
	position: relative;
	/*
	top: 0;
	right: 0;*/
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0;
	transition: 0.5s;
	text-align: center;
	margin: auto;
}

.content:hover .desc{
	height: 200px;
	opacity: 1;
}

.content button{
	position: absolute;
	left: 50%;
	bottom: 10%;
    transform: translate(-50%, -10%);
}

#popup{
	/* height: 0; */
	/* width: 0; */
	opacity: 0;
	transition: 1s;
	
	height: 100%;
	width: 100%;
	display: none; 
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	bottom: 0; left: 0;
	
	
}

#popup_body{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	width: 40%;
	min-width: 400px;
	max-width: 700px;
	box-shadow: 2px 2px 8px #444444;
	padding: 20px;
	
}

#popup_body h1{
	width: 100%;
	text-align: center;
}

.ach_info{
	display: flex;
	flex-direction: row;
	margin: auto;
}

.visuel_ach{
	margin: 15px;
	width: 50%;
}
.info-ach{
	width: 50%;
}

#ach_desc{
	font-size: 1.2em;
}
