@font-face {
    font-family: myFont;
    src: url(InterconnectedDemo-Bold.ttf);
}

html, body {
    height: 100%;
    background-image: url('Rainbow_blue.jpg');
}

h1 {
    text-align: center;
    color: #C70039;
    /*font-family: "OCR A Std", "monospace";*/
    font-family: "myFont", "Times New Roman";
    font-style: italic;
    font-size: 40px;
}

#role, #username {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

section#chatroom {
    text-align:left;
    float: right;
    margin:0 auto;
    margin-bottom:20px;
    background:#fff;
    height:60%;
    width:98%;
    border:1px solid #ACD8F0;
    /*overflow:auto;*/
    overflow-x: hidden;}

.chatbox_left {
    text-align:left;
    float: left;
    margin:0 auto;
    margin-bottom:5px;
    /*padding:10px;*/
    background:#fff;
    height:30%;
    width:88%;
    border:1px solid #ACD8F0;
    overflow:auto;
    overflow-x: hidden;
}

#usermsg {
    width: 89%;
    font-size: 20px;
    margin-left: 2%;
    border:1px solid #ACD8F0;
    /*padding-left: 22px;*/
    overflow-x: hidden;
}

#submitmsg {
    width: 7%;
    height: 29px;
    border-radius: 15%; }

#left_col {
    float:right;
    width:35%;
    height: fit-content;
    display: inline-block;}

#right_col {
    float:right;
    width:65%;
    height: 100%;
    display: inline-block;}

#exception_msg {
    padding-top: 8%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.top-bar-left {
    display:inline-block;
    float:right;
}

.top-bar-right {
    display:inline-block;
}