footer {
	text-align:center;
	bottom:0;
	position:absolute;
	width:100%;
}

h1 {
	text-align:center;
}

#MainTitle {
	margin-top:20%;	
}

body {
	min-height:100%;
	position:relative;

}

html {
	height:100%;	
}

nav {
	display:inline-block;
}

ul {
	list-style:none;
}
