.row
{
    margin-right: 0px;
    margin-left: 0px;
}

.notmain
{
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

main
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.whiteStyle
{
    color : white;
}