.row
{
    background-color: black;
    color: white;
    font-size: 1em;
    margin-right: 0px;
    margin-left: 0px;
}

main
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a
{
    color : white;
}