.row
{
    margin-right: 0px;
    margin-left: 0px;
}

nav, footer
{
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

main
{
    text-align: center;
}

.whiteStyle
{
    color: white;
}

.big_font
{
    font-size: 4em;
    color: black;
}

#user_nav
{
    font-size: 1.2em;
    font-weight: bold;
    background-color: grey;
    font-style: italic;
    padding-top: 4px;
    padding-bottom: 4px;
}

.special
{
    text-align: center;
}

table
{
    border-collapse: collapse; 
}

td, th
{
    border: 1px solid black;
    width: 150px;
    text-align: center;
}