

body{
    font-size:15px;
    padding :0;
    margin :0;
    font-family: Times, serif,serif;
    color:#FFFFFA;
    background-color:#000080;
}


article, section{
    padding:0;
    display:block;
    margin:0;
}

figcaption, figure{
    padding:0;
    display:block;
    margin:0;
}
header, nav, section{
    padding:0;
    display:block;
    margin:0;
}

div.abc{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    text-align:left;
}

.ligne2{
    color:#4e5a65;
    background-color:#FFFAFA;
}

.ligne2 a{
    color:#FF9900;
    background-color:#FFFAFA;
}




.ligne3{
    color:#4e5a65;
    background-color:#000080;
}


.ligne4{
    color:#FFFAFA;
    background-color:#FF9900;
}

.clear:after{
    display:block;
    content:".";
    height:0;
    line-height:0;
    clear:both;
    visibility:hidden;
}
#header{
    display:block;
    width:1300px;
    margin:0 auto;
}
#block{
    display:block;
    width:960px;
    margin:0 auto;
}
#footer{
    margin:0 auto;
    display:block;
    width:960px;
}
#copyright{
    width:960px;
    display:block;
    margin:0 auto;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

h1{
    font-weight:normal;
    font-size:32px;
    font-style:normal;
    line-height:normal;
    margin:0;
    padding:0;
}

h2{
    font-weight:normal;
    font-size:32px;
    font-style:normal;
    line-height:normal;
    margin:0;
    padding:0;
}

h3{
    font-weight:normal;
    font-size:32px;
    font-style:normal;
    line-height:normal;
    margin:0;
    padding:0;
}



.left_img{
    float:left;
}


img{
    margin:0;
    border:none;
    line-height:normal;
    vertical-align:middle;
    padding:0;
}


#header{
    padding:20px 0;
}

#header #gen h1{
    font-size:40px;
    font-weight:normal;
    float:left;
    margin:0 0 20px 0;
    font-style:bold;
    text-transform:none;
    color:#FF9900;
}
#header #gen h1:hover{
    color:#FFFFFA;
    background-color:#000080;
}
#header #gen h2{
    text-transform:none;
    font-size:13px;
    float:left;
    margin:0 0 20px 0;
    color:#FF9900;
    font-weight:normal;
    font-style:bold;
}

#header nav{
    display:block;
    float:right;
    margin:10px 0 0 0;
    padding:20px 0;
    color:#FF9900;
    background-color:#000080;
}

#header nav ul{
    padding:0 20px;
}
#header nav li{
    display:inline;
    margin-right:25px;
    text-transform:uppercase;
}

#header nav li a{
    color:#FFFFFA;
    background-color:#000080;
}
#header nav li a:hover{
    color:#FF9900;
    background-color:#000080;
}

#header nav li.last{
    margin-right:0;
}



.container2 {
    position: relative;
    width: 50%;
}

.image2 {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
    position: absolute;
    text-align: center;
    opacity: 0;
}

.container2:hover .image2 {
    opacity: 0.5;
}

.container2:hover .middle2 {
    opacity: 1;
}

.text2 {
    background-color:#FF9900;
    color: #000080;
    
    font-size: 20px;
    padding: 16px 32px;
}

.text2 a{
    background-color:#FF9900;
    color: #000080;
    
    
}

#block{
    padding:30px 0;
}
#block section{
    display:block;
    width:100%;
    margin:0 0 30px 0;
    padding:0;
}
#block .more{
    text-align:right;
}
#block .last{
    margin:0;
}



#block #un{
    display:block;
    width:100%;
    line-height:1.8em;
}


#block #un #services article figure img{
    padding:4px;
    margin:0 0 15px 0;
}

#block #un #services article figure h2{
    font-size:14px;
    font-weight:bold;
    color:#000080;
}


#block #un #intro article figure img{
    float:right;
    padding:8px;
    border:3px solid #FF9000;
}
#block #un #intro article figure figcaption{
    float:left;
    width:460px;
}
#block #un #intro article figure h2{
    color: #000080;
}
#block #un #intro article figure h2:hover{
    color: #FF9000;
}

.quart{
    display:block;
    float:left;
    margin:0 20px 0 0;
    width:225px;
}


.tiers{
    display:block;
    margin:0 30px 0 0;
    width:300px;
    float:left;
}


.lastbox{
    margin-right:0;
}


#footer{
    line-height:1.2em;
    padding:10px 0;
}

#footer section h2.title{
    margin:0 0 30px 0;
    color:#FFFAFA;
    background-color:#000080;
    font-size:20px;
    font-weight:bold;
}




#copyright{
    padding:20px 0;
}
#copyright p{
    margin:0; padding: 0;
}
