header {
	background-color: black;
	height: 190px;
	top: 0px;
}

#form_sign_in {
	text-align: center;
}

.menu_one {
	height: 17px;
}

.middle{
	background-color: black;
	height: 1000px;
	color: white;
}

.logo {
	width: 15%;
	float: left;
}

.title {
	color: yellow;
	text-align: center;
}

.connexion {
	display:block;
	text-align: right;
	color: white;
}

.footer{
	background-color: black;
	height: 20px;
	color: white;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:5px;
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 border:2px solid;
 padding:5px;
 float:left;   
 width:100px;
 background-color:yellow;
 color:black;
 text-decoration:none;
 text-align:center;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:black;
 }