@-ms-viewport{
    width: device-width;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

header[id="disconnected"]{
    position: relative;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    color: white;
    display: inline-block;
    padding-bottom: 100px;
}

a, .button{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.curve{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    width:100vw;
    max-height: 100px;
    z-index: 0;
}

.curve path{
    fill: white;
}

@media only screen and (max-width: 768px) {
    header[id="disconnected"]{
        padding-bottom: 75px;
    }
    .curve{
    max-height: 70px;
    }
}

@media only screen and (max-width: 590px){
    header[id="disconnected"]{
        padding-bottom: 60px;
    }
    .curve{
        max-height: 55px;
}
}

.navbar-container{
    top:0;
    z-index: 1;
}

#landing-nav .nav-link{
    list-style-type: none;
    overflow: hidden;
}

#landing-nav .nav-link li{
    float: right;
}

#landing-nav .nav-link li > a{
    display:block;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
    opacity: 0.8;
    font-size: 15px;
    letter-spacing: auto;
    transition: all 0.25s ease-in-out;
}

#landing-nav .nav-link li a:hover{
    opacity: 1;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar-container h1 a, .sidebar-container h1 a{
    color: white;
    position: relative;
    padding: 13px 20px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0.06em 0.1em gray;
    font-size: 30px;
    float: left;
}

.sidebar-container{
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
}

#sidebar-nav{
    background-color: #0a2c5f;
    margin-top: 0;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    box-shadow: 0px 0px 15px #656565;
    z-index : 2;
}

#sidebar-nav .nav-link{
    padding: 15px 0px;
    text-align: center;
    list-style-type: none;
    transform: translateY(10px);
    z-index: 2;
}

#sidebar-nav .nav-link li{
    display: none;
    margin-bottom: 10px;
}

#sidebar-nav .nav-link > li a{
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 1;
    font-size: 18px;
    color: white;
    transition: all 0.3s;
    letter-spacing: 1px;
}

#sidebar-nav .nav-link li a:hover{
    font-size: 20px;
    letter-spacing: 2px;
}

#sidebar-nav #login-link{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
    color: #0a2c5f;
    border-radius: 20px;
    z-index: 5;
    padding-right: 10px;
    padding-left: 10px;
}

.sidebar-container h1 a{
    text-shadow: 0 0 5px rgb(46, 73, 122);
    padding: 8px 0px;
    font-size: 25px;
}

#nav-toggle{
    position: relative;
    color: white;
    text-shadow: 0px 0px 5px #161142;
    font-size: 30px;
    float: right;
    transform: translateX(-30px);
    z-index : 3;
}

#nav-curve .curve{
    transform: scale(1, -1) translateY(-100%);
    max-height: 80px;
    z-index: 1;
}

#nav-curve path{
    fill: #0a2c5f;
}

@media only screen and (max-width: 768px){
    .navbar-container{
        display: none;
    }
    .sidebar-container, #nav-toggle{
        display: block;
    }
}

#logo-img{
    object-fit: cover;
    max-height: 550px;
    height: 90%;
    position: relative;
    float: right;
    z-index: 0;
    padding: 5px;
    margin-top: 10px;
}

#header-text{
    display: block;
    max-width: 500px;
    padding: 10px;
    transform: translateY(100%);
}

#header-text h1{
    font-size: 35px;
    position: absolute;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0.08em 0.08em gray;
}

#header-text p{
    position: relative;
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: white;
    opacity: 0.8;
    transform: translateY(30px);
    margin-bottom: 10px;
    margin-top: 10px;
}

.button{
    position: relative;
    display: inline-block;
    margin: 8%;
    text-transform: uppercase;
    background-color: #0a2c5f;
    padding: 8px 30px; 
    color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.386);
    transition: all 200ms;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.586);
}

@media only screen and (max-width: 768px) {
    #logo-img{
        padding-right: 0;
        display: inline-block;
        width: 40vw;
        transform: translateY(10%);
    }
    #header-text{
        transform: translateY(75%);
    }
    #header-text h1{
        font-size: 25px;
        padding: 0;
        position: static;
        text-shadow: 0 0 5px rgb(46, 73, 122);
    }
    #header-text p{
        font-size: 15px;
        transform: translateY(10px);
        margin: 0;
    }
}

@media only screen and (max-width: 590px) {
    #logo-img{
        position: static;
        height: 30vh;
        width: auto;
        display: block;
        margin: 0 auto;
        float: none;
        padding-bottom: 0;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        max-height: 200px;
        transform: none;
    }
    #header-text{
        display: block;
        margin: 0 auto;
        transform: none;
        text-align: center;
    }
    #header-text h1{
        font-size: 25px;
        text-shadow: 0 0 5px rgb(46, 73, 122);
        position: static;
    }
}

#contact-us-img{
    width: 20vw;
    max-width: 350px;
    min-width: 250px;
    float: left;
    padding-right: 3%;
}

footer{
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    color: #424242;
    transform: translateY(-20px);
}

.icon{
    height: 50px;
    margin-right: 1vw;
    margin-left: 1vw;
}

#footer-text{
    display: block;
    width: auto;
}

footer table{
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

footer table img{
    max-width: 25vw;
}

@media only screen and (max-width: 768px){
    #contact-us-img{
        float: left;
        display: block;
        height: 200px;
        padding-bottom: 10px;
    }

    footer table{
        display: block;
        position: relative;
    }

    #footer-text h2{
        font-size: 20px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 695px){
    footer table{
        display: table;
        width: 60vw;
        margin: 0 auto;
    }
    #footer-text{
        transform: translateY(30px);
    }
}

@media only screen and (max-width: 590px){
    #contact-us-img{
        float: none;
        margin: 0 auto;
        height: 100px;
    }
    footer{
        text-align: center;
    }
    #footer-text{
        transform: none;
    }
    #footer-text h2{
        font-size:18px;
    }
    #footer-text p{
        font-size: 15px;
    }
}

.sign{
    margin: 0 auto;
    padding:  30px 30px; 
    background:  #fefefe; 
    padding-bottom:  15px; 
    width:  350px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #656565;
    text-align: center;
    z-index: 2;
}

input[type=text],input[type=password], input[type=email]{
    float: right;
    font-size:  16px; 
    padding: 0; 
    height:  56px; 
    border:  none; 
    border-bottom:  solid 1px rgba(0,0,0,.1); 
    width:  280px; 
    box-sizing:  border-box; 
    color:  #000; 
    font-weight:  400;
}

.sign-icon{
    height: 50px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}

.sign > button{
    margin: 10px auto;
    border: none;
    font-size: 15px;
}

.sign > a{
    font-size: 13px;
    padding: 0;
    margin: 0 auto;
    color: #0a2c5f;
}

.sign-container h1{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0.06em 0.1em gray;
    font-size: 35px;
}

.sign-msg{
    color: rgb(207, 43, 43);
}

#signup{
    width: 50%;
}
#signup-form input{
    height: 35px;
    width: 100%;
}

#signup-container h1{
    margin-top: 25px;
}

@media only screen and (max-width: 768px){
    .sign-container h1{
        text-shadow: 0 0 5px rgb(46, 73, 122);
    }
}
@media only screen and (max-width: 595px){
    .sign{
        width: 250px;
        padding: 20px 20px;
    }
    input[type=text],input[type=password], input[type=email]{
        display: inline-block;
        font-size: 15px;
        height: 30px;
        width: 80%;
    }
    .sign-icon{
        height: 30px;
    }

    .sign label{
        display: inline-block; 
    }

    .sign-container h1{
        font-size: 28px;
        text-align: center;
        letter-spacing: 0.5px;
        text-shadow: 0 0 5px rgb(46, 73, 122);
    }

    #signup{
        width: 80vw;
    }

    #signup-container h1{
        display: block;
        padding-top: 30px;
        padding-bottom: 15px;
        text-align: center;
    }
}

#p-text{
    display: block;
    position: relative;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

#p-text h1{
    text-shadow: 0.06em 0.08em gray;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

#p-text p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 768px){
    #p-text h1{
        text-shadow: 0 0 5px rgb(46, 73, 122);
        font-size: 30px;
        font-weight: 500;
    }
    #p-text p{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: normal;
    }
    #p-text{
        transform: translateY(50px);
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width: 590px){
    #p-text h1{
        font-size: 28px;
        font-weight: 500;
        letter-spacing: .7px;
    }
    #p-text p{
        font-size: 17px;
    }
}

#p-wrapper{
    width: 95%;
    max-width: 950px;
    margin: 1% auto;
    display: flex;
    position: relative;
}

.p-section{
    margin: 0 auto;
    display: block;
    overflow: hidden;
    cursor:pointer;
    max-width: 350px;
    height: 85px;
    background-color: white;
    color: black;
    box-shadow: 0px 6px 10px 0px #25336b75;
    border-radius: 10px;
    transition: all 280ms;
}

#p1:hover, #p2:hover{
    filter: none;
    transform: translateY(-3px);
    box-shadow: 0 10px 10px 0px #25336b75;
}

.p-section h2{
    font-size: 18px;
    text-transform: uppercase;
}

#p1, #p2{
    flex: 0 0 45%;
    background-repeat: no-repeat;
}

#p1{
    color: rgb(16, 108, 184);
    background-image: url("img/study.svg");
    background-size: 230px auto;
    background-position: -60px center;
}

#p2{
    color: rgb(10, 170, 109);
    background-image: url("img/tutorat.png");
    background-size: auto 100px;
    background-position: left center;
    filter: grayscale(80%)
}

.p-sec-text{
    width: 62%;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px){
    #p-wrapper{
        margin-top: 10%;
        position: relative;
    }
    .p-section h2{
        font-size: 14px;
    }
    .p-sec-text{
        text-align: center;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 590px){
    #p-wrapper{
        width: 98%;
        margin-top: 16%;
    }
    #p1, #p2{
        flex: 0 0 48%;
    }
    .p-section h2{
        font-size: 13px;
    }
    #p2{
        background-position: -15px center;
    }
    #p1{
        background-position: -40px center;
        background-size: 150px auto;
    }
    .p-sec-text{
        padding-right: 1%;
        width: 60%;
    }
}
@media only screen and (max-width: 400px){
    #p1 .p-sec-text{
        padding-top: 25px;
    }
}

.text-icon{
    display: block;
    margin: 15px auto;
    width: 150px;
    padding: 10px 10px;
    
}

#main-content{
    transform: translateY(-30px);
    text-indent: 30px;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-bottom: 20px;
    font-weight: 300;
}

#main-content h3{
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 400;
}

#main-content h4{
    font-size: 20px;
    font-weight: 400;
    color: #0068a5;
    padding-bottom: 5px;
}

#main-content p, #main-content ul li, #main-content p strong{
    font-family: 'Open Sans', sans-serif;
    font-size: 15.5px;
    line-height: 1.6em;
}

#main-content p{
    text-align: justify;
}

#main-content p strong{
    font-weight: 400;
}

#main-content ul{
    margin-left: 20px;
    text-indent: 0;
}

#main-content table{
    text-align: center;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
}

#main-content table td, #main-content table th{
    border-bottom: 1px solid #bef0ff;
    border-top: 1px solid #bef0ff;
    width: 14%;
    min-width: 120px;
}

#main-content th{
    font-weight: 400;
}

#main-content thead{
    background-color: #bef0ff;
}

.semester-cell{
    color: #1ba9d4;
    background-color: #f2f2f2;
}

#main-content table tfoot{
    color: white;
    background-color: #78ddfc;
}

@media only screen and (max-width: 590px){
    #main-content{
        text-indent: 0;
        font-size: 15px;
    }
    .text-icon{
        width: 100px;
        padding: 0;
    }
}

#paces-presentation{
    display: block;
}
#tsps-presentation{
    display: none;
}
