@font-face {
font-family: 'amavos';
src: url('Fonts/Amavos.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'iLoveGlitter';
src: url('Fonts/i_love_glitter.woff') format('woff'),
url('Fonts/i_love_glitter.ttf') format('TrueType');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'bahn';
src: url('Fonts/bahnschrift.woff') format('woff'),
url('Fonts/bahnschrift.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body, html {
  height: 100%;
}
header{
	width: 100%;
	display: flex;
	justify-content: center;
}
main{
	display: flex;
	justify-content: center;
	flex-direction: row;
	
}
/*Classes de couleur et polices*/
.brown{
	color: #4b3c30;
	font-family: 'iLoveGlitter';
}
.orange{
	font-family: 'amavos';
	color: #ed9a00;
}
.grey{
	color: white;
	font-family: 'bahn', Verdana;
	text-shadow:
   -1px -1px 0 #aaaaaa,  
    1px -1px 0 #aaaaaa,
    -1px 1px 0 #aaaaaa,
     1px 1px 0 #aaaaaa,
	 1px 1px 4px #222222;
}

h1{
	font-family: 'bahn', Verdana, sans-serif;
	font-weight: 1;
	line-height: 0.5;
}

.round_rect{
	border-radius: 18px;
	background-color: white;
	box-shadow: 0px 0px 10px #999999;
}

#teaser{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20px;
}

.tease_rect{
	background-color: white;
	box-shadow: 2px 2px 8px #999999;
	border: 2px solid #bbbbbb;
	margin: 10px;
	padding: 20px;
	font-size: 1.6em;
	color: white;
	text-align: center;
	font-family: 'bahn', Verdana;
	height: 300px;
	
	text-shadow:
   -1px -1px 0 #aaaaaa,  
    1px -1px 0 #aaaaaa,
    -1px 1px 0 #aaaaaa,
     1px 1px 0 #aaaaaa,
	 1px 1px 4px #333333;
	 
}

#character_choice{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	height: 200px;
	width: 100%;
}

.placeholder{
	margin: 15px;
	height: 150px;
	width: 150px;
	background-color: #f5cf47;
	font-family: 'amavos';
	color: white;
	text-align: center;
	font-size: 2em;
	opacity: 0.6;
	-webkit-transition: 0.3s;
}

.placeholder:hover{
	opacity: 1;
	height: 200px;
	width: 200px;
}

#suscribe_button{
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	text-align: center;
}

#suscribe_button img{
	width: 100%;
}




#content{
	width: 45%;
	margin-right: 30px;
	padding-left: 15px; padding-right: 15px; 
	padding-top: 0px;
	padding-bottom: 20px;
}

#main_header{
	line-height: 0.8em;
	font-size: 3em;
	text-align: center;	
}

#side_bar{
	width: 20%;
	margin-left: 30px;
	padding: 30px;
}

/*Mise en forme du formulaire de connexion*/
#login_form{
	margin-bottom: 15px;
}

form{
	display: flex;
	flew-direction: row;
	width: 100%;
}

.champs{
	width: 70%;
}
.champs input /*Mise en forme des champs de texte*/
{ 
	color: #999999;
	font-face: 'bahn', Verdana, sans-serif;
	text-align: center;
	border: 2px solid #aaaaaa;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0px 0px 7px #999999;
}

.submit{
	display: flex;
	justify-content: center;	
	margin: 20px;
}

.submit input{
	font-family: 'bahn', Verdana, sans-serif;
	opacity: 0.8;
	border-radius: 15px;
	background-color: #ed9a00;
	color: white;
	font-size: 1em;
	border: none;
	padding: 5px 15px ;
	box-shadow: 2px 2px 6px #999999;	
}

.submit input:hover{
	opacity: 1;
}

#pantheon{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#pantheon img{
	width: 100%;
}

#pantheon h1{
	line-height: 0.6em;
	font-size: 1.8em;
}

.end_show{
	text-align: center;
	box-shadow: 3px 3px 7px #bbbbbb;
	margin: 15px;
	padding: 10px;
	height: 125px;
}

.end_show h2{
	font-size: 2.3em;
	line-height: 0.1;
	
	color: #4b3c30;
	font-family: 'amavos', sans-serif;
}

.end_show p{
	font-size: 1.2em;
}

footer{
	height: px;
}

.bg 
{ 
  /* The image used */
  background-image: url("background.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#bg1{
	background-image: url("bg_end_1.png");
}
#bg2{
	background-image: url("bg_end_2.png");
}
#bg3{
	background-image: url("bg_end_3.png");
}
#bg4{
	background-image: url("bg_end_4.png");
}

/*Login*/

#main{
		display: flex;
		flex-direction: row;
		padding-top: 20px;
		justify-content: center;
		text-align: center;
}

#sumup{
	width: 100%;
}

#sumup img{
	width: 70%;
}

#sumup p{
	font-size: 1.3em;
}

#profile_summary{
	display: flex;
	flex-direction: row;
	
}
#profile_summary button{
	font-family: 'bahn', Verdana, sans-serif;
	opacity: 0.8;
	border-radius: 15px;
	background-color: #ed9a00;
	color: white;
	font-size: 1em;
	border: none;
	padding: 5px 15px ;
	box-shadow: 2px 2px 6px #999999;	
	margin: auto;
}

#profile_summary button:hover{
	opacity: 1;
}

#protag_preview{
	margin: 15px;
	height: 600px;
	width: 225px;
	background-color: #f5cf47;
	font-family: 'amavos';
	color: white;
	text-align: center;
	font-size: 2em;
}