#top-bar {
	background-color: powderblue;
	height: 50px;
	position: sticky;
	top: 0;
}

#logo {
	color: black;
	left: 10px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

#connexion {
	color: white;
	right: 10px;
	padding: 3px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	display: box;
	background-color: blue;
}

#banniere {
	border: 1px solid gray;
	height: 202px;
	background-image: url("banniere.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.flex-container {
}

footer {
	height: 200px;
	background-color: black;
	color: white;
}
