header{
	text-align:center;
}
.top{
	color:white;
	width:100%;
	text-align:left;
}
nav{
	text-align:center;
	font-size:xx-large;
	
}
.rubrique:hover{
	background-image:url(soleil.jpg);
}
.rubrique{
	color:white;
}
.rubrique:visited{
	color:white;
	text-decoration: none;
}
a{
	text-decoration:none;
}
body{
	width:100%;
	background-image:url(./fond.png);
	margin-left: auto;
	margin-right: auto;
	background-attachment:fixed;
	font-family:helvetica;
	color:white;
}
section{
	border-style:solid;
	border-radius:20px;
	background-color:white;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	color:black;
}

.titre{
	border-radius:0px;
	border-style:solid;
	border-width:1px;
	background-image:linear-gradient(rgb(217,200,96),rgb(149,112,32));
	font-size:large;
}
.grand-titre{
	border-radius:10px 10px 0px 0px;
	border-style:solid;
	border-width:1px;
	background-image:linear-gradient(rgb(100,200,2194),rgb(58,67,179));
	font-size: xx-large;
	text-align:center;
}
footer{
	color:white;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
td {
  border-bottom: 1px solid #ddd;
  color:black;
  text-align:center;
  height:100px;
}
.couv{
	text-align:left;
}
.bande1{
	color:white;
	height:30px;
	border-color:black;
	text-align:left
}
.bande2{
	color:white;
	height:30px;
	background-image:linear-gradient(rgb(100,200,2194),rgb(58,67,179));
	border-radius:10px;
	border-color:black;
}
table{
	border-collapse:collapse;
	width:100%;
}
th{
	background-color:rgb(20,56,96);
}
.butval{
	color:white;
	height:30px;
	background-image:linear-gradient(rgb(100,200,294),rgb(58,67,179));
	border-radius:10px;
	border-color:black;
}
.butcon{
	color:white;
	height:30px;
	background-image:linear-gradient(rgb(100,200,294),rgb(58,67,179));
	border-radius:0px;
	border-color:black;
	width:230px;
}
.connect{
	border-style:solid;
	border-radius:20px;
	background-color:white;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color:black;
	font-size:large;
}
.toptab{
	text-align:center;
}
.res{
	height:50px;
	background-image:linear-gradient(rgb(58,67,179),rgb(20,56,96));
	font-size:x-large;
	text-align:center;
	color:white;
}
.butcan{
	height:30px;
	border-radius:0px;
	background-color:rgb(40,112,192);
	color:white;
}

