table {
    font-family : arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

.invisible {
    border: none;
}

td, th {
    border: 1px solid black;
    text-align : center;
    padding: 6px;
}

th {
    background-color: orange;
}

h1 {
    font-family: arial, sans-serif;
    text-align: center;
    color: orange;
}

p, ul, li {
    font-family: arial, sans-serif;
}

h2 {
    font-family: arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    border-style: solid;
    border: 1px;
    border-radius: 10px;
    color: black;
   }
   .nav-item {
       display: flex;
   }
   .container {
       border: 1px groove;
       border-radius: 0 0 10px 10px;
       text-align: center;
       background-color: white;
       width: 100%;
  
   }
   .body {
       background-color: url("./img/IImage_bg.png");
       border-style: solid;
       width: 100%;
       height: 100%;
   }
   #navbarRespwhite.collapse.navbar-collapse {
       display: flex; !important
       border-style: solid;
       border: 1px;
   }
   .ul {
       display : flex; !important
       justify-content: center;
   }
   #mainlogo {
       text-align: center;
   }
   .banniere {
       width: 100%;
       text-align: center;
       border: 1px;
       border-style: solid;
       background-color: orange;
       border-radius:10px 10px 0 0;
       display: inline-flex;
       justify-content: center; 
  }
   .nav-item {
       display: inline;
   }
  .bouton-co {
      text-align: left;
      margin-left: 1%;
      margin-top: 0.1%;
      width: 7%;
      position: absolute;
  }

  /*Footer*/
div.pied {
    width: 100%;

    border: 1px groove;
    border-radius: 10px;

    background-color: orange;
    
    padding-top: 0.5%;
    padding-bottom: 0.5%;


    bottom: 0;

    margin-bottom: 5px;
}

div.pied  img {
    width: 5%;
    height: auto;
}