* {box-sizing: border-box}

body {
    margin : 0;
  }

h1 {
    color: #F0FFFF;
    text-align: center; 
    font-family: Arial;
    
}

header {
    background-color: #009925;
    border-bottom: 1px whitesmoke;
    display: flex;
    justify-content: center;
    width: 100%;
    position: flex;
}

nav {
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 9999;
}

nav .lien {
    flex : 40%;
}

nav a {
    color: darkgreen;
    text-decoration : none;
    padding : 10px 20px;
    text-align : center;
    transition: 0.3s;
}

nav a:hover {
    background-color: #D3D3D3;
}

nav .search-container {
    display: flex;
    padding: 10px 20px;
}

nav input[type=text] {
    padding: 10px 20px;
    font-size: 17px;
    border: solid 1px darkgray;
    background-color: white;
}

nav .search-container button {
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

aside {
    background-color: #e6e6e6;
    top: 0;
    display: flex;
    flex-direction: column;
    flex: 20%;
    padding: 10px;
}

section {
    padding: 20px;
    flex: 80%;
}

.flexbox_sect_asi {
    display: flex;
}

header a{
    text-align: right;
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    background-color: #009925;
    color: white;
    padding: 20px;
}

.red {
    color : red;
}

.flexbox_boutton {
    display: flex;
}

.bouton {
    padding: 20px;
    flex: 50%;
}

/*.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/

.form input[type=text], .form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 0px;
    background: #f1f1f1;
}

.form input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=reset] {
        padding: 14px 20px;
        background-color: #f44336;
        color : white;
}

@media screen and (max-width: 768px) {
    nav {   
      flex-direction: column;
      position: static;
    }

    nav a {
        border-bottom: 1px solid #009925;
    }

    .form input[type=text], .form input[type=password] {
        width: 100%;
    }

    .flexbox_boutton {
        flex-direction: column;
    }

    .bouton {
        width: 100%;
        padding: 10px;
    }
  }